<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link href="{{ asset_url "style.css" }}" rel="stylesheet" />
	</head>
	<body>
		<h2>{{ name }}</h2>

		{{#with data}}
		{{> @partial-block }}
		{{/with}}
	</body>
</html>